<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Web Application Transportadora</title>
    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/FontAwesome")

</head>
<body>
    <div class="container" role="main">
        @RenderBody()
    </div>
</body>
</html>
