
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Premissas do Sistema</h4>
<br /><br />

<ul>
    <li><a href="transportadoras">Transportadoras</a></li>
    <li><a href="categorias">Categorias</a></li>
</ul>

